@import "tailwindcss";

:root {
  font-family: "Syne", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Syne", sans-serif;
}


@theme {
  --font-family-sans: "Syne", sans-serif;
  /* --color-black: #1C2526; */
  --color-blue: #0147ff;
}